* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url('https://images.saatchiart.com/saatchi/1132881/art/5184297/4254117-HSC00001-7.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
  }
  
  .weatherapp {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
 }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
  }
  
  header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 10px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 200;
  }
  
  header input:hover {
    background-color: rgba(255, 255, 255, 0.6);
  }
  
  main {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .location .city {
    color: rgb(248, 173, 35);
    margin-bottom: 10px;
    font-size: 60px;
    font-weight: 600;
  }  
  
  .location .date {
    color: rgb(199, 133, 47);
    font-size: 40px;
  }

  .location .time {
    color: rgb(199, 133, 47);
    font-size: 30px;
  }
  
  .temperature .temp {
    color:rgb(208, 166, 86);
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
    text-shadow: 1px 1px 5px white;

  }
  
  .temperature .temp span {
    font-weight: 500;
  }
  
  .temperature .weather {
    color: rgb(146, 94, 27);
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
  }
  
 